pandas>=2.2.3
numpy>=2.2.0
requests>=2.32.3
python-dotenv>=1.0.1
pyinstaller>=6.12.0
colorama>=0.4.6
pytest>=8.3.4
pytest-cov>=6.0.0
xlsxwriter>=3.2.2
rich>=13.7.0,<14.0.0
questionary>=2.1.0
python-binance>=1.0.27
python-kraken-sdk>=3.1.6