pandas>=2.2.3
numpy>=1.25.3
requests>=2.32.3
python-dotenv>=1.0.1
pyinstaller>=6.12.0
colorama>=0.4.6
pytest>=7.4.2
pytest-cov>=4.1.0
xlsxwriter>=3.2.2
rich>=13.7.0,<14.0.0
questionary>=1.10.0
python-binance>=1.0.16
kraken-spot>=0.1.0